.accordion-title {
  background: transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  height: 50px; /* Increased button height */
  padding: 10px 20px; /* Add padding for bigger button size */
  margin: 10px auto; /* Center your button with automatic horizontal margins */
  margin-bottom: 15px; /* Increased bottom margin for better spacing between buttons */
  font-size: large;
  display: block; /* Make the buttons stack vertically */
  width: 90%; /* Set width to a percentage of the container for consistent sizing */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  background: linear-gradient(45deg, rgb(185, 4, 4) 0%, #000000 100%);
  overflow: hidden;
  position: relative;
  z-index: 0;
  text-align: center; /* Center the text inside the button */
}

.accordion-content {
  /* Styles for the accordion content */
  max-height: 0; /* Use max-height for a smooth animation */
  overflow: hidden;
  transition: max-height 0.3s ease;
  width: 90%; /* Match the width to the accordion title */
  margin: 0 auto; /* Center the content */
}

.accordion-content.open {
  max-height: 1000px; /* Use a large max-height value to accommodate varying content sizes */
}
