@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #ffffff;
  }

  .sidebar {
    background-color: #444;
    /* Dark background for sidebar */
    color: #f5f5f5;
    /* Light text for sidebar */
  }
}


/* Existing Light Mode Styles for Body */
@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #333;
    
  }

}
/* For Dark Mode */
@media (prefers-color-scheme: dark) {
  .header {
    background: linear-gradient(to right, #0a3d62, #1e272e);
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
  }

  .header a, .header button {
    color: #ffffff;
    text-decoration: none;
  }

  .header a:hover, .header button:hover {
    color: #ff4757;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  }
}

/* For Light Mode */
@media (prefers-color-scheme: light) {
  .header {
    background: linear-gradient(to right, #d6eaf8, #d5d8dc);
    color: #2f3640;
    font-family: 'Roboto', sans-serif;
  }

  .header a, .header button {
    color: #2f3640;
    text-decoration: none;
  }

  .header a:hover, .header button:hover {
    color: #ff6b81;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
}

/* Sidebar Styles for Dark Mode */
@media (prefers-color-scheme: dark) {
  .sidebar {
    background-color: #2f3640;
    color: #dcdde1;
    font-family: 'Arial', sans-serif;
    padding: 15px;
  }

  .sidebar a, .sidebar button {
    color: #f5f5f5;
    text-decoration: none;
    display: block;
    padding: 10px;
  }

  .sidebar a:hover, .sidebar button:hover {
    background-color: #353b48;
    color: #00a8ff;
  }
}

/* Sidebar Styles for Light Mode */
@media (prefers-color-scheme: light) {
  .sidebar {
    background-color: #dfe6e9;
    color: #2f3640;
    font-family: 'Arial', sans-serif;
    padding: 15px;
  }

  .sidebar a, .sidebar button {
    color: #2f3640;
    text-decoration: none;
    display: block;
    padding: 10px;
  }

  .sidebar a:hover, .sidebar button:hover {
    background-color: #b2bec3;
    color: #0984e3;
  }
}







/* Ensures the whole page is scrollable if content overflows */
body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

/* Main profile container */
.my-profile {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Grid layout for the cards within their containers */
.resources-list, .favorites-list, .documents-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Individual card styling */
.document-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  align-items: center;
}


/* Card components styling */
.document-cover {
  width: 100%;
  object-fit: cover;
}

.document-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.document-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.authButton, .favorite-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Handling clicks on the entire card for navigation */
.clickable {
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .document-card {
    grid-template-columns: 1fr;
  }

  .document-actions {
    justify-content: center;
  }
}

.resource-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 800px;
  max-height: 90vh; /* Adjust the height as needed */
  overflow-y: auto;
}
.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; /* adjust size as needed */
  color: #f0ad4e; /* gold color, change as needed */
}
.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}
.comment-header {
  font-weight: bold;
  margin-bottom: 5px;
}
.comment-author {
  margin-right: 10px;
}
.comment-date {
  color: #777;
  font-size: 0.8em;
}
.comment-body {
  margin-top: 10px;
}
.comment-actions {
  margin-top: 10px;
}
.favorite-button.favorited {
  color: #d9534f; /* change color when favorited, e.g., to a red color */
}

.resource-header {
  display: flex;
  flex-direction: column;
}

.cover-image {
  max-width: 100%;
  height: auto;
}

.download-button {
  padding: 10px;
  background-color: #0044cc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.comments-container {
  margin-top: 20px;
}
.faculty-container {
  max-height: 90vh; /* Adjust the height as needed */
  overflow-y: auto; /* This will create a vertical scrollbar if the content exceeds the max-height */
}

.add-comment textarea {
  width: 100%;
  margin-top: 10px;
}

.add-comment button {
  margin-top: 10px;
}

@media (min-width: 600px) {
  .resource-header {
    flex-direction: row;
  }
}

.login-prompt {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffc107; /* Yellow shade for warning message */
  color: #000;
  padding: 1rem;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  animation: fadeOut 4s forwards; /* Animation to fade out the prompt */
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* Add this to your CSS file */

.faculty-list {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Adjust as needed */
  display: flex; /* Aligns items horizontally */
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  gap: 10px; /* Adjust as needed for spacing between buttons */
}

.faculty-list-item {
  /* Additional styles for the list item if needed */
}



/* Add media query for responsive design if needed */
@media (max-width: 600px) {
  .faculty-list {
    flex-direction: column;
  }
}
.header-message {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f0f0f0; /* or any color you prefer */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.login-prompt {
  color: red; 
}
.scrollable-container {
  max-height: 500px; /* Adjust as needed */
  overflow-y: auto;  /* Enables vertical scrolling */
}
.email-sent-message {
  color: green;
  margin-top: 10px;
}
.login-status-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
  font-size: 0.875rem; /* Adjust the font size as needed */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  z-index: 10; /* Make sure it's above other header content */
}
.document-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: transparent;
}

.document-image {
  width: 100px; /* Adjust as needed */
  height: auto;
  margin-right: 20px;
}

.document-info {
  flex-grow: 1;
}

.document-title {
  margin: 0;
  font-size: 1.2em;
}

.document-author {
  font-style: italic;
}

.document-link {
  color: #007bff;
  text-decoration: none;
}

.document-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.document-card {
  background-color: #333; /* Dark background */
  color: #fff; /* Light text */
  border: 1px solid #444; /* Slightly lighter border */
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.document-cover {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 15px;
}

.document-info h3 {
  margin: 0;
  color: #e0e0e0;
}

.document-info p {
  color: #aaa; /* Slightly dim text for less important information */
  margin: 5px 0;
}
.success-message {
  padding: 10px;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text color */
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;

}
.sides {
  background: moz-linear-gradient(45deg, #090709 0%, #ff0000 100%);
  background: -webkit-linear-gradient(45deg, #a00202 0%, #04120b 100%);
  background: linear-gradient(45deg, rgb(185, 4, 4) 0%, #000000 100%);
  display: block;
  text-decoration: none;
  z-index: 1;
  height: 100%;
  padding: 5px;
}

.sides button {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse
}

.sides h1 {
  color: white;
}

.sidebarToggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebarToggle:hover {
  background:transparent;
  transform: scale(1.02);
  background-color:rgba(76, 9, 3, 0.815);

}

.sidebar {
  position: fixed;
  margin-top: 85px;
  left:0;
  top: 0px;
  width: 250px;
  height: 90%;
  background-color: transparent;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
  padding: 0;
  overflow-y: auto;
}

.contentContainer {
  overflow-y: auto;
}

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  align-items: center;
  text-align: center;
  background: moz-linear-gradient(45deg, #090709 0%, #ff0000 100%);
  background: -webkit-linear-gradient(45deg, #a00202 0%, #04120b 100%);
  background: linear-gradient(45deg, rgb(185, 4, 4) 0%, #000000 100%);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
}

.headerContainer .left {
  display: flex;
  align-items: center;
}

.fa-star {
  font-size: 24px;
  color: #8b0000;
  cursor: pointer;
  transition: color 0.2s;
}

.fa-star.active {
  color: #ffcc00;
}

.uploaded-photo {
  width: 200px;
  height: 150px;
}

.uploaded-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.custom-upload-modal .form-group {
  margin: -30px;
  padding: 15px;
}

.card-title,
.card-text,
.card-description {
  color: #6a0000;
}

.dark .card-title,
.dark .card-text,
.dark .card-description {
  color: #fff;
  /* Text color in dark mode */
}

/* Light Mode */
.light .card-title,
.light .card-text,
.light .card-description {
  color: #333;
  /* Text color in light mode */
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 100%;
  /* Adjust the width as needed */
  padding: 5px;
  /* Adjust the padding as needed */
  font-size: 12px;
  /* Adjust the font size as needed */
}

.card:hover {
  transform: scale(1.02);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* Adjust the margin between cards */
  justify-content: flex-start;
  list-style: none;
  padding: 1;
}

.dark .card {
  color: #fff;
  /* White text color in dark mode */
}

/* Light Mode */
.light .card {
  color: #333;
  /* Dark text color in light mode */
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.App-link {
  color: #61dafb;
}

.App {
  text-align: center;
}


.fileInput {
  display: none;
}

.logoContainer .logo {
  width: 70px;
  display: flex;
  margin-right: 10%;
  padding: 5px 10px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}

.logoReg {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px
  8px -4px, rgba(9, 30, 66, 0.25) 0px -4
  px 8px -4px;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5em;
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  z-index: 5;
  margin-right: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-justify: bold;
  font-weight: bold;
}

.inputBar {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #6a0000;
  color: #fff;
}


.inputBar::placeholder {
  color: #c8c8c8;
}

.alert-message {
  background-color: #FFCDD2;
  /* Light red background */
  color: #D32F2F;
  /* Dark red text color */
  padding: 10px;
  border: 1px solid #D32F2F;
  /* Dark red border */
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
}

.authButton  {
  background:transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* transition: background-color 0.2s; */
  align-items: center;
  height: 35px;
  margin: 10px;
  margin-top: 8px;
  font-size: large;
  display: inline-block;
  background: moz-linear-gradient(45deg, #090709 0%, #ff0000 100%);
  background: -webkit-linear-gradient(45deg, #a00202 0%, #04120b 100%);
  background: linear-gradient(45deg, rgb(185, 4, 4) 0%, #000000 100%);
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.authButton:hover {
  background:darkred;
}

.authButtons .button .authButton {
  margin-right: 30px;
}

.form {
  display: flex;
  align-items: center;
}

.facultyName {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.facultyauthButton {
  background: moz-linear-gradient(45deg, #090709 0%, #ff0000 100%);
  background: -webkit-linear-gradient(45deg, #a00202 0%, #04120b 100%);
  background: linear-gradient(45deg, rgb(185, 4, 4) 0%, #000000 100%);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  margin: 10px;
  margin-top: 8px;
  display: flex;
  font-size: large;
  position: relative;
  width: 80%;
  height: 50px;
}
.facultyauthButton:hover {
  background: #6a0000;
}

.faculties {
  margin: 0;
  font-weight: bold;
}

.share-button {
  color: #fff;
  /* White text color */
  border: none;
  border-radius: 6px;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.share-button:hover {
  background-color: #8b0000;
}

.container {
  text-align: center;
  padding: 100px;
}

.welcomeText {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.welcome-container {
  background-color: #ffffff;
  /* Light background color */
  /* Other styles for the welcoming page */
}

/* Faculty page background */
.subText {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

body {
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Media queries for different screen sizes */

/* For screens up to 768px wide (phones) */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    /* Decrease font size for smaller screens */
  }

  .container {
    padding: 10px;
    /* Reduce padding for smaller screens */
  }

  .header {
    font-size: 1.5rem;
    /* Increase font size for the header on smaller screens */
  }
}

.upload-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 1;
}

.upload-modal.show {
  display: flex;
}

.upload-modal-content  {
  background-color: #fff;
  font-size: large;
  margin: 25px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  text-align: center;
  z-index: 1;
}

.modal-footer {
  padding-top: 13px;
}
.password-reset-container{
  width: 420px;
  color:rgb(0, 0, 0);
  border-radius: 10px;
  padding: 30px 40px;
  background: transparent;
}
.password-reset-container h1 {
  font-size: 36px;
  text-align: center;
}
.form-group1 label {
  font-weight: bold;
  font-size: large;
}

.form-group1 input {
  width: 70%;
  height: 100%;
  background: transparent;
  border: 2px solid black;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding: 20px 45px 20px 45px;
  margin: 15px;
}

.submit-button {
  width: 95%;
  height: 45px;
  background: moz-linear-gradient(45deg, #090709 0%, #ff0000 100%);
  background: -webkit-linear-gradient(45deg, #a00202 0%, #04120b 100%);
  background: linear-gradient(45deg, rgb(185, 4, 4) 0%, #000000 100%);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 680;
  margin-top: 10px 0 15px;
}

.form-group input::placeholder{
  color: white;
}

.upload-modal h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.upload-modal input[type="file"] {
  margin: 10px 0;
}

.error-message {
  color: #ff0000;
  /* Red text color for errors */
  font-weight: bold;
  /* Bold text for emphasis */
  background-color: #ffe6e6;
  /* Light red background color for the error message */
  padding: 10px;
  /* Add padding to the error message */
  border: 1px solid #ff0000;
  /* Red border */
  border-radius: 4px;
  /* Rounded corners */
  margin: 10px 0;
  /* Add some margin to separate the message from other elements */
}

.error-text {
  font-weight: bold;
  font-size: 16px;
}

.resource-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.resource-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.resource-title {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 100px;
}

.resource-author {
  font-weight: bold;
  margin-bottom: 10px;
}

.resource-description {
  margin-bottom: 10px;
}

.resource-download a {
  display: block;
  background-color: #8b0000;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.resource-image img {
  max-width: 100%;
  height: auto;
}

.comments {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #8b0000;
  border-radius: 5px;
}

.comment {
  margin-top: 10px;
  padding: 10px;
  background-color: #8b0000;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment strong {
  font-weight: bold;
}

.comment p {
  margin: 0;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  box-sizing: border-box;
}

/* For screens between 768px and 1200px wide (tablets and smaller laptops) */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .container {
    max-width: 960px;
    /* Adjust container width for medium-sized screens */
  }
}

/* For screens larger than 1200px wide (larger laptops and desktops) */
@media screen and (min-width: 1201px) {
  .container {
    max-width: 1140px;
    /* Adjust container width for larger screens */
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Added styles for Header component */

/* Layout and Positioning */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f4f4f4; /* Ensure this is not transparent */
  border-bottom: 1px solid #ddd;
  z-index: 1000; /* Set a high z-index value */
  position: relative; /* z-index works on positioned elements (position: absolute, relative, or fixed) */
}


/* Styling Form Elements */
.inputBar {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.authButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* Modal and Card Styling */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.card {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.uploaded-photo {
  width: 100%;
  height: auto;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
}

/* Visual Theme */
body {
  font-family: Arial, sans-serif;
}

.primary-color {
  background-color: #4CAF50; /* Example primary color */
}

.secondary-color {
  color: #333; /* Example secondary color */
}
