
@media (prefers-color-scheme: dark) {
  .header {
    background: linear-gradient(to right, #0a3d62, #121212);
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
  }

  .header a, .header button {
    color: #ffffff;
    text-decoration: none;
  }

  .header a:hover, .header button:hover {
    color: #ff4757;
    text-shadow: 0px 0px 10px rgba(209, 0, 0, 0.7);
  }
}
@media (prefers-color-scheme: light) {
  .header {
    background: linear-gradient(to right, #d6eaf8, #d5d8dc);
    color: #2f3640;
    font-family: 'Roboto', sans-serif;
  }

  .header a, .header button {
    color: #2f3640;
    text-decoration: none;
  }

  .header a:hover, .header button:hover {
    color: #ff6b81;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
}

@media (prefers-color-scheme: dark) {
  .sidebar {
    background-color: #121212;
    color: #dcdde1;
    font-family: 'Arial', sans-serif;
    padding: 15px;
  }

  .sidebar a, .sidebar button {
    color: #f5f5f5;
    text-decoration: none;
    display: block;
    padding: 10px;
  }

  .sidebar a:hover, .sidebar button:hover {
    background-color: #121212;
    color: #00a8ff;
  }
}
@media (prefers-color-scheme: light) {
  .sidebar {
    background-color: #dfe6e9;
    color: #2f3640;
    font-family: 'Arial', sans-serif;
    padding: 15px;
  }

  .sidebar a, .sidebar button {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
  }

  .sidebar a:hover, .sidebar button:hover {
    background-color: #b30f0f;
    color: #ffffff;
  }
}

/* Grid layout for the cards within their containers */
.resources-list, .favorites-list, .documents-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Individual card styling */
.document-card {
  display:flex;
  gap: 1rem;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
}




/* Card components styling */
.document-cover {
  width: 100%;
}

.document-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.document-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.authButton, .favorite-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Handling clicks on the entire card for navigation */
.clickable {
  cursor: pointer;
  width: 30%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .document-card {
    grid-template-columns: 1fr;
  }

  .document-actions {
    justify-content: center;
  }
}


.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; /* adjust size as needed */
  color: #f0ad4e; /* gold color, change as needed */
}

.favorite-button.favorited {
  color: #d9534f; /* change color when favorited, e.g., to a red color */
}

.faculty-container {
  max-height: 90vh; /* Adjust the height as needed */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.faculty-card {
  border: solid 1px black;
  padding: 5px;
  margin: 5px;
  max-width: 70%;
  border-radius: 10px;
}


@media (min-width: 600px) {
  .resource-header {
    flex-direction: row;
  }
}

.login-prompt {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffc107; 
  color: #000;
  padding: 1rem;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  animation: fadeOut 4s forwards; 
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}


.header-message {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f0f0f0; 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.login-prompt {
  color: red; 
}
.scrollable-container {
  max-height: 500px; 
  overflow-y: auto;  
}
.email-sent-message {
  color: green;
  margin-top: 10px;
}
.login-status-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
  font-size: 0.875rem; 
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  z-index: 10; 
}
.document-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  background-color: transparent;
  max-width: 15rem;
}

.document-image {
  width: 100px; 
  height: auto;
  margin-right: 20px;
}

.document-info {
  flex-grow: 1;
}

.document-title {
  margin: 0;
  font-size: 1.2em;
}

.document-author {
  font-style: italic;
}

.document-link {
  color: #007bff;
  text-decoration: none;
}

.document-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.document-card {
  background-color: #333; 
  color: #fff; 
  border: 1px solid #444; 
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.document-cover {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 15px;
}

.document-info h3 {
  margin: 0;
  color: #e0e0e0;
}

.document-info p {
  color: #aaa; /* Slightly dim text for less important information */
  margin: 5px 0;
}
.success-message {
  padding: 10px;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text color */
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}


.sides {
  background: moz-linear-gradient(45deg, #090709 0%, #ff0000 100%);
  background: -webkit-linear-gradient(45deg, #a00202 0%, #04120b 100%);
  background: linear-gradient(45deg, rgb(185, 4, 4) 0%, #000000 100%);
  display: block;
  text-decoration: none;
  z-index: 1;
  height: 100%;
  padding: 5px;
}

.sides button {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse
}

.sides h1 {
  color: white;
}

.sidebarToggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebarToggle:hover {
  background:transparent;
  transform: scale(1.02);
  background-color:rgba(76, 9, 3, 0.815);

}

.sidebar {
  position: fixed;
  margin-top: 85px;
  left:0;
  top: 0px;
  width: 250px;
  height: 90%;
  background-color: transparent;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
  padding: 0;
  overflow-y: auto;
}

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  align-items: center;
  text-align: center;
  background: moz-linear-gradient(45deg, #090709 0%, #ff0000 100%);
  background: -webkit-linear-gradient(45deg, #a00202 0%, #04120b 100%);
  background: linear-gradient(45deg, rgb(185, 4, 4) 0%, #000000 100%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.headerContainer .left {
  display: flex;
  align-items: center;
}



.uploaded-photo {
  width: 200px;
  height: 150px;
}

.uploaded-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.custom-upload-modal .form-group {
  margin: -30px;
  padding: 15px;
}

.card-title,
.card-text,
.card-description {
  color: #6a0000;
}

.dark .card-title,
.dark .card-text,
.dark .card-description {
  color: #fff;
  /* Text color in dark mode */
}

/* Light Mode */
.light .card-title,
.light .card-text,
.light .card-description {
  color: #333;
  /* Text color in light mode */
}






.App-link {
  color: #61dafb;
}

.App {
  text-align: center;
}


.fileInput {
  display: none;
}

.logoContainer .logo {
  width: 70px;
  display: flex;
  margin-right: 10%;
  padding: 5px 10px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}

.logoReg {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px
  8px -4px, rgba(9, 30, 66, 0.25) 0px -4
  px 8px -4px;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5em;
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 5;
  margin-right: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-justify: bold;
  font-weight: bold;
}

.inputBar {
  border-radius: 5px;
  background-color: #6a0000;
  color: #fff;
}


.inputBar::placeholder {
  color: #c8c8c8;
}

.alert-message {
  background-color: #FFCDD2;
  color: #D32F2F;
  padding: 10px;
  border: 1px solid #D32F2F;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
}

.authButton  {
  background:transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  height: 35px;
  font-size: large;
  display: inline-block;
  background: moz-linear-gradient(45deg, #090709 0%, #ff0000 100%);
  background: -webkit-linear-gradient(45deg, #a00202 0%, #04120b 100%);
  background: linear-gradient(45deg, rgb(185, 4, 4) 0%, #000000 100%);
  position: relative;
  z-index: 0;
}

.authButton:hover {
  background:darkred;
}

.authButtons .button .authButton {
  margin-right: 30px;

}

.form {
  display: flex;
  align-items: center;
}

.facultyName {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.facultyauthButton {
  background: moz-linear-gradient(45deg, #090709 0%, #ff0000 100%);
  background: -webkit-linear-gradient(45deg, #a00202 0%, #04120b 100%);
  background: linear-gradient(45deg, rgb(185, 4, 4) 0%, #000000 100%);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  margin: 10px;
  margin-top: 8px;
  display: flex;
  font-size: large;
  position: relative;
  width: 80%;
  height: 50px;
}
.facultyauthButton:hover {
  background: #6a0000;
}

.faculties {
  margin: 0;
  font-weight: bold;
}


.container {
  text-align: center;
  padding: 100px;
}




.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 10px;
  }

  .header {
    font-size: 1.5rem;
  }
}

.upload-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 1;
}

.upload-modal.show {
  display: flex;
}

.upload-modal-content  {
  background-color: #fff;
  font-size: large;
  margin: 25px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  text-align: center;
  z-index: 1;
}

.error-message {
  color: #ff0000;
  font-weight: bold;
  background-color: #ffe6e6;
  padding: 10px;
  border: 1px solid #ff0000;
  border-radius: 4px;
  margin: 10px 0;
}

.error-text {
  font-weight: bold;
  font-size: 16px;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
}
body {
  font-family: Arial, sans-serif;
}

.primary-color {
  background-color: #4CAF50; 
}
.secondary-color {
  color: #333;
}

bodY {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, rgb(255, 0, 0), #000000);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.contentContainer{
  position: relative;
}



.search-container div {
  display: flex;

}

.action-buttons {
  justify-content: space-around;
}