.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px; /* Adds space at the top */
  align-content: flex-start; /* Aligns content to the top, leaving space at the bottom */
}

.card {
  position: relative;
  flex: 0 1 calc(33.333% - 1rem); /* 3 cards per row, accounting for margin */
  margin: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-color:rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 200px; /* Larger fixed height for cards */
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  z-index: 1;
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-cover {
  width: auto;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 8px; /* Rounded corners for the image */
}


.card-content {
  z-index: 2;
  position: absolute;
  top: 50%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(-50%, -50%); /* Offset the positioning */
  padding: 15px; /* Padding inside the card */
  text-align: center;
}

.card-title {
  font-size: 1.5rem; /* Adjustable font size */
  font-weight: bold;
  color: #ffffff; /* White text color */
}

.card-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0; /* Hide by default */
  transition: opacity 0.3s ease-in-out;
  z-index: 1; /* Above the card content but below the actions */
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

.card-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px; /* Optional: if you want rounded corners on the image */
}

.card-content,
.card-actions {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1;
}

.card:hover .card-description {
  opacity: 1; /* Show description on hover */
}
.card:hover .card-content,
.card:hover .card-actions {
  opacity: 0;
  transform: translateY(20px); /* Move down to ensure they are not visible */
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* Enhanced shadow on hover */
  transform: scale(1.02);
  /* Slight increase in size on hover */
}

.card-cover {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 15px;
}



.card-actions {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 15px;
  position: relative; /* Ensure actions stay on top */
  z-index: 3;
}

.card-actions .authButton {
  width: 100%;
}

.card-actions a {
  text-decoration: none;
}

.favorite-button {
  color: #f0ad4e;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.favorite-button .favorited {
  color: #d9534f;
}



button.trashButton {
  background-color: transparent !important; 
  border: none;
  padding: 5px;
  font-family: Arial, sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  color: inherit;
}

button.trashButton:hover {
  background-color:transparent;
}
@media (max-width: 768px) {
  .downloadButton {
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    padding: 10px;
    font-size: medium;
    display: inline-block;
    background: linear-gradient(45deg, rgb(4, 52, 185) 0%, #3885e9 100%);
    position: relative;
    z-index: 0;
  }
}
@media (max-width: 992px) {
  .card {
    flex: 0 1 calc(50% - 1rem); 
  }
}

@media (max-width: 768px) {
  .card-container {
    padding-top: 20px; 
  }

  .card {
    flex: 0 1 100%; 
    height: 200px; 
  }

  .card-cover {
    height: 200px; 
  }
}