.feedback-form-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 4px;
  font-size: larger;
  width: 100%;
}

.search-button, .feedback-button {
  padding: 10px 20px;
  border: none;
  background-color: #5c6bc0;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover, .feedback-button:hover {
  background-color: #3949ab;
}

.no-results-prompt {
  margin-top: 20px;
  background-color: #ffecb3;
  padding: 10px;
  border-radius: 4px;
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: max-content;
  max-width: 90%;
  text-align: center;
}


.no-results-prompt.show {
  display: block;
  animation: fadeOut 4s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


.authButtonA {
  padding: 1.5em 2em; /* Use relative units for padding */
  margin: 1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: green;
  color: white;
  transition: all 0.3s ease;
}

/* Adjust styles for smaller screens */
@media screen and (max-width: 600px) {
  .authButtonA {
    width: 100%; /* Make the button take full width on smaller screens */
    margin-right: 0; /* Remove right margin for better spacing */
  }
}