@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.faculty-header-name {
  /* add your styles here */
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  color: white;
}

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  background-size: 200% 200%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

@media (max-width: 768px) {
  .headerContainer {
    align-items: baseline;
  }
}

.upload-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 1000;

}

@keyframes loadingAnimation {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.headerContainer.loading {
  background: linear-gradient(to right, rgb(154, 233, 245) 30%, #0278a0 50%);
  background-size: 200% 100%;
  animation: loadingAnimation 2s ease-in-out infinite;
}

@media screen and (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    justify-content: center;
  }

  .authButtons,
  .search-upload-container {
    justify-content: space-around;
    z-index: 11;
  }
}

.search-upload-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .headerContainer {
    padding: 0.5rem;
  }
}

.headerContainer .left {
  display: flex;
}

.logoContainer .logo {
  width: 70px;
  display: flex;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.logoContainer .logo:hover {
  transform: scale(1.1);
}

.authButtons .logoReg {
  margin-right: 50px;
}


@media (max-width: 768px) {
  .authButtons .logoReg {
    position: absolute;
    top: 10px; /* Adjust the top value as needed */
    right: 10px; /* Adjust the right value as needed */
    margin-right: 20px; /* Reset margin-right for smaller screens */
  }
}


.authButtons {
  background: transparent;
}

.authButtonL {
  z-index: 0;
}

.sidebarToggle {
  z-index: 1;
}

@media (max-width: 768px) {
  .sidebarToggle {
    z-index: 13;
  }
}



.authButton,
.authButtonL,
.sidebarToggle {
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  height: 35px;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid white;
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .authButtonL {
    z-index: 1;
    margin-right: 0;
  }
}

.authButton:hover,
.authButtonL:hover,
.sidebarToggle:hover {
  box-shadow: 0 10px 20px rgba(116, 116, 116, 0.507);
  background: rgba(95, 95, 95, 0.8);
}

.action-buttons .authButton:hover {
  background: rgba(0, 0, 0, 0.8);
}

.inputBarH {
  border-radius: 5px;
  background-color: #6a0000;
  color: #fff;
  height: 30px;
  margin-right: 3px;
  font-weight: 100px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-size: larger;
  transition: border-color 0.3s;
}

.inputBarH::placeholder {
  color: #f5f5f5;
}

.inputBarH:focus {
  border-color: #77adba;
  outline: none;
}

.sidebar {
  position: fixed;
  margin-top: 70px;
  left: 0;
  top: 0;
  width: 250px;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #2f3640;
  font-family: 'Arial', sans-serif;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sidebar {
    margin-top: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #2f3640;
    font-family: 'Arial', sans-serif;
    padding: 15px;
    overflow-y: auto;
    z-index: 12;
  }
}

.upload-modal-content {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}


@media (max-width: 768px) {
  .upload-modal-content {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    z-index: 11;
  }
}

.upload-modal-content * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  text-align: revert;
}

.upload-modal-content h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.upload-modal-content label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

.upload-modal-content input {
  display: block;
  height: 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #e5e5e5;
}

.upload-modal-content .authButton {
  margin-top: 15px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
}

.upload-modal-content .modal-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0);
  transition: all 0.3s ease;
}


.success-message {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;

}

.error-message {
  padding: 10px;
  background-color: #f44336;
  color: white;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.noResults {
  display: flex;
  position: absolute;
  background-color: #6a0000;
  margin-top: 2px;
  z-index: 999;
}

@media (max-width: 768px) {
  .noResults {
    display: flex;
    position: absolute;
    background-color: #6a0000;
    margin-top: 2px;
    padding: 2px;
    z-index: 2;
  }
}

.action-buttons h1 {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%; /* Assuming you want the title to span the full width of the screen */
  padding: 10px 0; /* Add some padding to ensure the text doesn't touch the edges */
  box-sizing: border-box; /* Include padding in the width calculation */
}

/* Responsive font sizes based on screen width */
@media (max-width: 1200px) {
  .action-buttons h1 {
    font-size: large; /* Smaller font size for smaller screens */
    top: 21%;
  }
}

@media (max-width: 992px) {
  .action-buttons h1 {
    font-size: medium; /* Even smaller font size for tablets */
    top: 9%;

  }
}

@media (max-width: 768px) {
  .action-buttons h1 {
    font-size: small; /* Small font size for landscape phones */
    top: 14%;

  }
}

@media (max-width: 576px) {
  .action-buttons h1 {
    font-size: x-small; /* Extra small font size for portrait phones */
    top: 15%;

  }
}
.input-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.inputBarH {
  width: 100%;
  padding-right: 30px;
}

.icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.password-input-container {
  position: relative;
  width: 100%;
}

.password-input-container .Input {
  width: 100%;
}

.password-input-container .icon {
  position: absolute;
  right: -15px;
  top: 0;
  margin-top: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  cursor: pointer;
}


.loading-message {
  margin-top: 20px;
  text-align: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid blue;
  width: 36px;
  height: 36px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.feedbackSuccess {
  background: green;
  height: 35px;
  border-radius: 10px;
  font-size: medium;
  margin-top: 70px;
  color: #fff;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 5;
}

@media screen and (max-width: 600px) {
  .feedbackSuccess {
    left: 100px ;
    margin-top: 100px;
  }
}

.feedbackError {
  position: relative;
  background: #6a0000;
  height: 35px;
  border-radius: 10px;
  font-size: larger;
  z-index: 5;
}

.modal-header {
  position: relative;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  cursor: pointer;
  /* Add more styles as needed */
}

.upload-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
  z-index: 1000; /* Ensure it's above other content */
}



