body, html {
  overflow: auto;
}

.profile-sections {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .profile-sections {
    flex-wrap: wrap;
  }
}

.contentContainer P{
  width: 100%;
  color: #ffffff;
}
.contentContainer{
  margin-top: 70px;
}

.contentContainer .my-profile  {
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
  overflow: auto; 
}

.contentContainer .my-profile .profile-sections .f

.section {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.document-actions .authButton {
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: 20px;
}

.success-message-header, .error-message-header {
  color: #fff;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.success-message-header {
  background-color: #4CAF50;
}

.error-message-header {
  background-color: #f44336;
}

body {
  display:block;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  overflow: auto; 
}

@media (max-width: 768px) {
  body {
      font-size: 14px;
      margin-top: 50px;
      overflow: auto;
  }
}

.user-resources {
  display: flex; 
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.user-resources > div {
  flex: 0 0 auto;
  margin: 10px;
  width: calc(33.333% - 20px);
}

@media (max-width: 1024px) {
  .user-resources > div {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .user-resources > div {
    width: calc(100% - 20px);
  }
}

.main-content .user-info,
.main-content .user-resources,
.main-content .user-favorites,
.main-content .admin-actions {
  margin-left: 10px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .main-content .user-info,
  .main-content .user-resources,
  .main-content .user-favorites,
  .main-content .admin-actions {
    margin-left: 20px;
  }
}

@media (min-width: 1024px) {
  .main-content .user-info {
    margin-left: 300px;
  }
  .main-content .user-resources,
  .main-content .user-favorites,
  .main-content .admin-actions {
    margin-left: 250px;
  }
}

.resource-details .resource-title {
  opacity: .75;
  text-overflow: ellipsis;
  overflow: hidden;
}

.edit-profile {
  display: grid;
  width: 50%;
  justify-content: center;
  margin: 15px;
  margin-left: 276px;
}

.edit-profile .inputBar {
  padding: 7px;
  font-size: large;
}

.edit-profile label {
  font-size: medium;
}

.edit-profile .authButton {
  margin: 5px;
}

@media (max-width: 768px) {
  .edit-profile {
    margin-left: 80px;
  }
}

@media(max-width:768px){
  .my-profile {
    margin-left: 80px;
  }
}

.sidebar button {
  background-color: #333;
  color: white; 
  padding: 10px 20px;
  border: none;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 16px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #555;
  transform: translateX(10px); 
}
.sidebar button.active {
  background-color: #666; 
}

.cards-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
  justify-content: center; 
  align-items: flex-start;
  padding: 10px;
}

.card {
  flex: 0 0 auto;
  width: 200px;
  margin: 10px; 
}

@media (max-width: 1024px) {
  .card {
    width: calc(50% - 20px);
  }
}
@media (max-width: 768px){
  .card {
    width: calc(100% - 20px); 
  }
}
