body, html {
  overflow: auto;
}

.profile-sections {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .profile-sections {
    flex-wrap: wrap;
  }
}

.contentContainer P{
  width: 100%;
  color: #ffffff;
}
.contentContainer{
  margin-top: 70px;
}

.contentContainer .my-profile  {
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
  overflow: auto; 
}

.contentContainer .my-profile .profile-sections .f

.section {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

/* Styling for buttons */
.document-actions .authButton {
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: 20px;
}

/* Success and error message styling */
.success-message-header, .error-message-header {
  color: #fff;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.success-message-header {
  background-color: #4CAF50;
}

.error-message-header {
  background-color: #f44336;
}


body {
  display:block;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  overflow: auto; 
}

@media (max-width: 768px) {
  body {
      font-size: 14px;
      margin-top: 50px;
      overflow: auto;
  }
}

.user-info {
  margin: 3px;
}

.card {
  width: 300px;
  box-sizing: border-box;
  margin: 10px;
  margin-top: 100px;
}

.resource-details .resource-title {
  opacity: .75;
  text-overflow: ellipsis;
  overflow: hidden;
}

.edit-profile {
  display: grid;
  width: 50%;
  justify-content: center;
  margin: 15px;
  margin-left: 200px;
  background-color: #0000008f;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-radius: 15px;
  
}

.edit-profile .inputBar {
  padding: 7px;
  font-size: large;
}

.edit-profile label {
  font-size: medium;
}

.edit-profile .authButton {
  margin: 5px;
}


@media (max-width: 768px) {
  .edit-profile {
    margin-left: 80px;
  }
}

@media(max-width:768px){
  .my-profile {
    margin-left: 80px;
  }
}


.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-items: flex-start; 
  margin: 10px;
}

.card {
  box-sizing: border-box;
  margin: 10px;
}

.user-info .information {
  background-color: #0000008a;
  padding: 15px;
  border-radius: 15px;
}

.user-info h1 {
  background-color: #0000008f;
}

.user-resources h1 {
  background-color: #0000008f;
}

.user-favorites h1 {
  background-color: #0000008f;
}

.admin-actions h1{
  background-color: #0000008f;
}

.authButton.loading,
.authButton.loading .loadingIndicator {
    color: green;
}