.resource-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
  /* Adjust this value if your header is taller or shorter */
  background-color: transparent;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: black;
  overflow: hidden;
}

.resource-content {
  display: flex;
  flex-direction: column-reverse;
  /* For mobile, data first then image */
}
.authButton {
  background: transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  height: 35px;
  font-size:medium;
  display: inline-block;
  background: linear-gradient(45deg, rgb(185, 4, 4) 0%, #000000 100%);
  position: relative;
  z-index: 0;
  margin-right: 10px;
}
.resource-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 10px;

}

.resource-cover {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.cover-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.resource-title {
  opacity: .75;
  text-overflow: ellipsis;
  overflow: hidden;
}

.resource-details .resource-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.document-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.document-info .document-author .document-description {
  display: none;
}

.root-faculty {
  margin-top: 100px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

@media (max-width: 768px) {
  .resource-page {
    max-width: 800px;
    max-height: 90vh;
    width: calc(100% - 40px);
    height: calc(100vh - 120px);
  }

  .resource-cover img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
    /* Set a max-height for mobile */
  }
}

/* Styles for tablets and desktops */
@media (min-width: 769px) {
  .resource-page {
    /* Use 95% of the viewport width */
    min-height: calc(100vh - 60px);
    /* Subtract the header height */
    max-width: none;
    /* Override the max-width for larger screens */
  }

  .resource-header {
    flex-direction: row;
    /* Align header items in a row for larger screens */
    align-items: flex-start;
    /* Align items to the start */
    justify-content: space-between;
    /* Distribute space between items */
    padding: 20px;
    margin-bottom: 30px;
  }

  .resource-cover img {
    width: 50%;
    /* Take half the width of the container */
    max-width: 600px;
    /* Max width for the image */
    height: auto;
    object-fit: cover;
  }


  .resource-details {
    /* Take the remaining half of the width */
    margin-left: 20px;
    /* Spacing between image and details */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Vertically center the details */
  }


  .resource-title {
    opacity: .75;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .download-button {
    align-self: flex-start;
  }

  .downloadButton {
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    font-size: medium;
    display: inline-block;
    background: linear-gradient(45deg, rgb(185, 4, 4) 0%, #000000 100%);
    position: relative;
    z-index: 0;
    padding-top: 8px;
    width: 100%;
    padding: 10px;
    text-decoration: none;
  }

  .document-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .document-info .document-author .document-description {
    display: block;
  }


  .resource-main-content {
    display: flex;
    flex-direction: row;
  }
}

.login-prompt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 11;
  margin-top: 60px;
  font-size: large;
  /* Make sure it's above other content */
}

.login-prompt a {
  color: #0a84ff;
  text-decoration: underline;
}

.card-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resource-details {

  white-space: wrap;
  text-overflow: ellipsis;
}

.resource-page,
.author,
.description,
.faculty,
.file-size,
.login-prompt,
.card-content,
.resource-details {
  color: var(--text-color-black);
}


:root {
  --text-color: #ffffff;
  /* Default text color */
  --background-color: #121212;
  /* Default background color */
  --link-color: #0a84ff;
  /* Default link color */
  --link-hover-color: #0077cc;
  /* Default link hover color */
  --login-prompt-background: rgba(0, 0, 0, 0.85);
  /* Default login prompt background */
  --login-prompt-text-color: #ffffff;
  /* Default login prompt text color */
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #fffafa;
    /* Text color for light mode */
    --background-color: #f0f0f0;
    /* Background color for light mode */
    --link-color: #0066cc;
    /* Link color for light mode */
    --link-hover-color: #0055bb;
    /* Link hover color for light mode */
    --login-prompt-background: rgba(255, 255, 255, 0.85);
    /* Login prompt background for light mode */
    --login-prompt-text-color: white;
    /* Login prompt text color for light mode */
  }
}
.noResults p{
  position: absolute;
  top: 77%; /*Adjust as needed to position the prompt below the search bar*/
  background-color: orange;
  padding: 10px;
  border-radius: 5px;
  color: white;
  z-index: 9; /* Make sure the z-index is higher than other elements if needed*/

}

@media (max-width: 769px) {
  .noResults p{
    max-width: none;
    width: 50%;
  
  }
}