/* ResourcePage.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: black;
  color: #ffffff;
  overflow: auto;
}

.resource-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.resource-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

.resource-cover-img {
  max-width: 100%;  /* Ensure it doesn't scale beyond the width of its container */
  height: auto;     /* Maintain the aspect ratio of the image */
  display: block;   /* Remove any default inline spacing */
  margin: 0 auto;   /* Center the image within its container */
}


.resource-title {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}

.resource-details {
  text-align: center;
}

.resource-details strong {
  font-weight: 600;
}

.resource-details p {
  margin: 5px 0;
}

.downloadButton, .favorite-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.favorite-button {
  background-color: #ff4136;
}

.favorite-button.active {
  background-color: #2ecc40;
}

.login-tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px;
  padding: 5px;
  background-color: #333;
  color: white;
  border-radius: 3px;
  font-size: 14px;
}

.favorite-button:hover .login-tooltip {
  display: block;
}

.comments-section {
  padding: 20px;
}

/* Loading state styles */
.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.loading-wave {
  background: #007bff;
  height: 100px;
  width: 5px;
  margin: 0 2px;
  display: inline-block;
  animation: wave 1.2s infinite ease-in-out;
}

@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}

/* Media Queries for responsive adjustments */
@media (max-width: 768px) {
  .resource-header {
    flex-direction: column;
  }

  .downloadButton, .favorite-button {
    padding: 10px;
    font-size: 14px;
  }
}
.share-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
button {
  /* Add your button styling here */
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


