.resource-page {
  display: block;
  flex-direction: column;
  height: calc(50vh - 60px); /* Adjust 60px to the height of your header/footer */
  width: calc(100vh - 60px); /* Adjust 60px to the height of your header/footer */
  background-color: #121212;
  color: #ffffff;
  padding: 0;
  max-width: 800px;
  max-height: 90vh;
}

.resource-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1c1c;
  padding: 20px;
  margin-bottom: 30px;
}

.resource-cover {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.cover-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.resource-title{
  opacity: .75;
  text-overflow: ellipsis;
  overflow: hidden;
}
.resource-details .resource-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.download-button {
  background-color: #0a84ff;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #0077cc;
}

.document-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.document-info .document-author .document-description {
  display: none;
}

.root-faculty {
  margin-top: 100px;
}