.profile-button {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 15px;
}

@media screen and (max-width: 600px) {
  .button {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}

.profile-button img {
  margin-right: 10px;
  height: 24px;
  border-radius: 50px;
  width: 35px;
  height: 35px;
}

@media (max-width: 768px) {
  .profile-button img {
    margin-right: 10px;
    height: 24px;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    z-index: 1;
  }
} 

.profile-button:hover {
  background-color: #ffffff0c;
}


@media (max-width: 768px) {
  .sidebar a {
    width: 100%;
    margin-top: 0;
    background: #1d1d1db7;
    color: #fff;
  }
}


@media (max-width: 768px) {
  .sides {
    margin-right: 220px;
    width: 50%;
    height: 100%;
    background: #9197998f;
  }
}

.sides {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: transparent;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sides a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  text-decoration: none;
}

.sides h1 {
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
.sides a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  text-decoration: none;
}
@media screen and (max-width: 760px) {
  .sides a {
    display: block;
    color: rgb(255, 255, 255);

  }
}