
.arrow-container-top {
  position: fixed;
  left: 40px;
  top: 90px; 
  animation: bounce 1s infinite;
  transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
  .arrow-container-top {
    transform: translateX(-50%);
  }
}

.arrow-top {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  display: block;
}

.arrow-text-top {
  text-align: center;
  display: block;
  margin-top: 5px;
  color: white;
  width: auto; 
  overflow: visible; 
}

@media screen and (max-width: 768px) {
  .arrow-top {
    margin: 10px auto;
  }

  .arrow-text-top {
    margin-top: 10px;
  }
}

.arrow-to-profile{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent; 
  border-bottom: 20px solid white;
  position: fixed;
  top: 90px;
  right: 10px; 
  transform: translateX(-50%); 
  animation: bounce 1s infinite;
}

@media screen and (max-width: 768px) {
  .arrow-to-profile {
    transform: translateX(-50%);
  }
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-20px);
  }
  60% {
    transform: translateX(-50%) translateY(-10px);
  }
}


.bottom-left-text {
  left: 50%; 
  transform: translate(-50%, -50%); 
  position: relative;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .bottom-left-text {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.wlcImage{
  position: relative;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.wlcImage img {
  width: 100%;
  max-width: 700px;
  height: auto;
}

.welcome-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}