
.arrow-container-top {
  position: absolute;
  left: 40px; /* Center the arrow horizontally */
  top: 90px; /* Adjust this value to be just below your header/sidebar button */
  animation: bounce 1s infinite;
  transform: translateX(-50%); /* Center the container */
}

.arrow-top {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white; /* Adjust color to match your design */
  display: block; /* Needed to stack text under the arrow */
  margin: 0 auto; /* Center the arrow in the container */
}

.arrow-text-top {
  text-align: center;
  display: block;
  margin-top: 5px; /* Add space between the arrow and the text */
  color: white;
  width: auto; /* Make sure the width is enough to contain the text */
  overflow: visible; /* Ensure text is not cut off */
}


.arrow-to-profile{
  width: 0;
  height: 0;
  border-left: 20px solid transparent; /* Adjust size as needed */
  border-right: 20px solid transparent; /* Adjust size as needed */
  border-bottom: 20px solid white; /* Adjust color to match your design */
  position: absolute;
  right: 10px; /* Center the arrow horizontally */
  top: 90px; /* Adjust this value to be just below your header/sidebar button */
  transform: translateX(-50%); /* Center the arrow */
  animation: bounce 1s infinite;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-20px);
  }
  60% {
    transform: translateX(-50%) translateY(-10px);
  }
}


.bottom-left-text {
  position: absolute;
  left: 1000px; /* adjust as needed */
  bottom: 150px; /* adjust as needed */
}
