body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #ffffff;
  background: black;
  font-family: "Euclid Circular A", "Poppins";
  overflow: auto;
}

section {
  height: 100vh;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
}
section .outer,
section .inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
section .bg {
  display: grid;
  place-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1; /* Ensure the image is behind the text */
}
section .bg h2 {
  z-index: 2;
}
section .bg .clip-text {
  overflow: hidden;
}
.explore-arrow {
  position: absolute;
  bottom: 5%; /* Adjust as necessary */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer; /* Indicate that the arrow is interactive */
}

.explore-arrow .arrow {
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent; /* Adjust size as necessary */
  border-right: 15px solid transparent; /* Adjust size as necessary */
  border-top: 20px solid white; /* Adjust size as necessary */
  margin: 0 auto;
  animation: bounce 2s infinite;
}


.explore-arrow span {
  display: block;
  color: white; /* Choose a color that fits the design */
  margin-top: 10px; /* Space between arrow and text */
  font-size: 16px; /* Adjust as necessary */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}


