.app {
  display: flex;
  align-items: flex-start;
}

.toggleSidebarButton {
  margin: 10px;
  padding: 5px 15px;
  cursor: pointer;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.sidebar.visible {
  transform: translateX(0);
}

.main-content {
  display: none;
  margin-left: 260px;
  padding: 10px;
}
